src/libri.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="libri">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="libro" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="titolo"/>
              <xs:element type="xs:string" name="autore"/>
            </xs:sequence>
            <xs:attribute type="xs:short" name="pagine" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>